.Menu {
  font-size: 0.8em;
  float: left;
  width: 300px;
  height: calc(100% - 50px);
  background: var(--color2);
  color: var(--text-color);
  overflow-y: auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.Menu .Section {
  padding: 10px;
}

.Menu .Section:not(:last-child) {
  border-bottom: 1px dashed var(--accent2);
}

.Menu .Section .Title {
  font-size: 1.2em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.Menu .Section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Menu .Section ul li {
  margin-bottom: 5px;
}

.Menu button {
  margin-top: 5px;
  border: 0;
  color: var(--color2);
  background: white;
}

.Menu select {
  border: 0;
  color: var(--color2);
  background: white;
  height: 30px;
  display: block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--color1);
}

.Menu input[type="text"],
.Menu input[type="number"] {
  border: 0;
  color: var(--color2);
  background: white;
  height: 30px;
  padding: 0 3px;
  display: block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--color1);
}

.Menu button {
  border-radius: 3px;
  border: 1px solid var(--color1);
}

.Menu .Filter-control {
  float: right;
  height: 22px;
  width: 22px;
  margin-left: 3px;
}

.Menu .Filter {
  margin: 15px 0;
}

.Menu .Filter input {
  margin-top: 5px;
}

.Menu .Go {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
